html, body {
    height: 100% !important;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh !important;
    display: flex;
    flex-direction: column;
}

.formField{
    flex-direction: row;
    width: 20vw;
}
.footer {
    margin-top: auto;
}

.footerLink{
    text-decoration: none;
}